[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Slapt-update-notifier
GenericName=Slapt update notification service
GenericName[ru]=Сервис уведомления обновлений Slapt
Comment=Checks for system package upgrades
Comment[ru]=Проверка обновлений системных пакетов
Exec=/usr/bin/slapt-update-notifier
Icon=slapt-update-notifier-update
StartupNotify=false
Terminal=false
Hidden=false

